* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

a {
  color: black;
  font-weight: bold;
}

.body {
  background-color: rgb(245, 245, 245);
  opacity: 1;
  visibility: visible;
  transition: all 600ms 500ms ease;
}

.text__green {
  color: #1bb71bbb;
  font-weight: bold;
}

.row {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.container {
  display: flex;
  width: 100%;
}

.click {
  cursor: pointer;
  transition: all 300ms ease;
}

.click:hover {
  scale: 1.2;
}

.click:active {
  scale: 0.8;
}

.contact__button {
  position: fixed;
  bottom: 60px;
  right: 80px;
  border: none;
  border-radius: 50%;
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  z-index: 5;
  box-shadow: 0 0 10px white;
  animation: slideInB 1s 500ms backwards;
}

@keyframes slideInB{
  0%{
    transform: translateX(300%);
  }
  100%{
    transform: translateX(0%);
  }
}

.contact__link {
  color: white;
  font-size: 32px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/*

NAV 

*/

nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo--wrapper {
  width: 70px;
  display: flex;
}

.nav__link--list {
  display: flex;
}

.nav__link--item {
  margin: 0 12px;
  display: flex;
  align-items: center;
}

.nav__link {
  position: relative;
}
.nav__link:hover .nav__link-hover-effect {
  width: 100%;
  left: 0;
}

.nav__link-hover-effect,
.footer__link-hover-effect {
  height: 3px;
  border-radius: 3px;
  width: 0%;
  right: 0;
  background-color: black;
  position: absolute;
  transition: all 500ms ease;
}

.contrast__button {
  display: flex;
  background-color: transparent;
  border: none;
  position: relative;
  color: #242424;
}

.fa-circle-half-stroke {
  font-size: 20px;
  transition: all 300ms ease;
}

/* 

LANDING green = #1bb71bbb

*/

#landing{
  height: 100vh;
  position: relative;
  animation: slideIn 1s 500ms backwards;
}

@keyframes slideIn{
  0%{
    transform: translateX(-110%);
  }
  100%{
    transform: translateX(0%);
  }
}

.landing__row {
  max-width: 1000px;
  padding-top: 80px;
  height: auto;
}

.landing__container {
  margin: 0 12px;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.landing__title {
  font-size: 120px;
}

.wave {
  display: inline-block;
  animation: animate-wave 3000ms infinite alternate-reverse ease-in-out;
}

@keyframes animate-wave {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0);
  }
}

.landing__intro {
  font-size: 24px;
  line-height: 2;
  max-width: 550px;
  text-align: justify;
  margin: 24px 0;
}

.about__text {
  transition: all 300ms ease;
}

.about__text:hover {
  color: #1bb71b;
}

.landing__links {
  display: flex;
}

.landing__link {
  font-size: 14px;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  color: white;
  background-color: #1bb71bbb;
  transition: all 300ms ease;
}

.landing__link:hover {
  background-color: #1bb71be8;
}

.landing__img--wrapper {
  display: flex;
  border-radius: 50%;
  box-shadow: 20px 20px 100px;
  overflow: hidden;
  width: 400px;
  height: 400px;
  animation: float 1500ms ease infinite alternate-reverse;
}

@keyframes float {
  0% {
    transform: translateY(-6px);
  }

  100% {
    transform: translateY(6px);
  }
}

.scroll__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  position: absolute;
  bottom: 10px;
  transform: translateY(-10px);
  right: 50%;
  transform: translateX(-50%);
  border: 2px solid black;
  border-radius: 10px;
  height: 32px;
  width: 16px;
  opacity: 0.7;
  transition: all 300ms ease;
}

.scroll__dot {
  height: 6px;
  width: 4px;
  border-radius: 6px;
  background-color: black;
  animation: scroll 1500ms infinite alternate ease-in-out;
}

.scroll__wrapper:hover {
  opacity: 1;
}

@keyframes scroll {
  0% {
    transform: translateY(-6px);
  }

  100% {
    transform: translateY(6px);
  }
}

/* 

MODAL

*/

.modal__open .body {
  opacity: 0;
  visibility: hidden;
  height: 100vh;
  overflow: hidden;
  transition: all 400ms ease-in;
}

.modal__open .modal {
  z-index: 10;
  box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.55);
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  height: 700px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal__half {
  width: 50%;
  display: flex;
  align-items: center;
  transition: all 300ms ease-in;
}

.modal__about {
  background-color: rgb(245, 245, 245);
  transform: translateX(-110%);
}

.modal__open .modal__about,
.modal__open .modal__contact {
  transform: translateX(0%);
}

.modal__row {
  width: 80%;
  height: 55%;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.modal__about--title {
  margin-bottom: 8px;
  color: #242424 !important;
}

.modal__about--description {
  color: #242424 !important;
  margin: 20px 0;
  line-height: 2;
  text-align: justify;
}

.modal__languages {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.language__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 5);
  transition: all 300ms ease;
  position: relative;
}

.language__wrapper:hover {
  opacity: 0.8;
  scale: 0.9;
}

.language__name {
  font-weight: bold;
  position: absolute;
  bottom: -20px;
  transition: all 300ms ease;
  scale: 0;
  color: #242424 !important;
}

.language__wrapper:hover .language__name {
  scale: 1;
  opacity: 0.7;
}

.modal__contact {
  background-color: #242424;
  color: white;
  position: relative;
  transform: translateX(110%);
}

h4 {
  margin-bottom: 18px;
}

form {
  width: 100%;
}

.form__item {
  margin-bottom: 16px;
}

label {
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  background-color: #242424;
  color: rgb(245, 245, 245);
  outline: none;
  border: 3px solid white;
  border-top: none;
  border-right: none;
  border-left: none;
  height: 40px;
  transition: all 300ms ease;
}

input:hover,
textarea:hover {
  border-color: #b1f8b1;
}

input:focus,
textarea:focus {
  border-color: #49cc49c6;
}

textarea {
  resize: vertical;
  height: 54px;
  margin-top: 12px;
}

.form__submit {
  font-size: 20px;
  font-weight: bold;
  color: rgb(245, 245, 245);
  background-color: #49cc49c6;
  border: 3px solid #49cc49c6;
  padding: 12px 28px;
  border-radius: 20px;
  transition: all 300ms ease;
}

.form__submit:hover {
  background-color: transparent;
  border-color: rgb(245, 245, 245);
}

.form__submit:active {
  border-color: #49cc49c6;
  color: #49cc49c6;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.modal__overlay--visible {
  z-index: 2;
  display: flex;
}

.modal__overlay--loading {
  background-color: #242424;
  font-size: 120px;
}

.fa-spinner {
  animation: load 1000ms infinite linear;
}

@keyframes load {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal__overlay--success {
  background-color: #238f23;
  font-size: 28px;
}

.success__message {
  text-align: center;
}

.modal__exit {
  position: absolute;
  top: 30px;
  right: 40px;
  color: rgb(245, 245, 245);
  font-size: 32px;
  z-index: 100;
}

/* 

PROJECTS #1bb71b

*/

.projects__row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects__title {
  font-size: 36px;
  margin-top: 40px;
  margin-bottom: 24px;
}

.projects__container {
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.projects__wrapper {
  position: relative;
  width: 100%;
  max-width: 1000px;
  border-radius: 32px;
  overflow: hidden;
  box-shadow: 0 0px 60px 0px #055e05a3;
  margin-bottom: 160px;
}

.projects__img {
  border-radius: 32px;
  transition: all 800ms ease;
}

.projects__wrapper:hover .projects__img {
  filter: blur(2px);
  scale: 1.15;
}

.projects__wrapper:hover .projects__hover--background {
  opacity: 1;
}

.projects__wrapper:hover .projects__description--container {
  opacity: 1;
  transform: translateY(-50%);
}

.projects__hover--background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 32px;
  background-color: #242424b5;
  z-index: 2;
  opacity: 0;
  transition: all 600ms ease;
}

.projects__description--container {
  position: absolute;
  top: 50%;
  transform: translateY(100px);
  opacity: 0;
  left: 60px;
  color: white;
  z-index: 3;
  transition: all 1000ms ease;
}

.project__title {
  font-size: 32px;
}

.project__subtitle {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 16px;
}

.project__description {
  font-size: 16px;
  margin: 8px 0;
  max-width: 60%;
  line-height: 1.5;
  text-align: justify;
}

.project__link {
  color: white;
  font-size: 20px;
}

/* 

FOOTER

*/

footer {
  height: 30vh;
  background-color: #242424;
  position: relative;
}

.footer__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.footer__logo--wrapper {
  width: 120px;
  filter: invert(1);
  position: relative;
}

.footer__pop-up {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 300ms ease;
}

.footer__logo--wrapper:hover .footer__pop-up {
  transform: translateX(70px);
  opacity: 1;
}

.footer__link--list {
  display: flex;
}

.footer__list--item {
  margin: 0 32px;
  position: relative;
}

.footer__link {
  color: white;
}

.footer__link-hover-effect {
  background-color: white;
}

.footer__list--item:hover .footer__link-hover-effect {
  width: 100%;
  left: 0;
}

.copyright__text {
  color: rgba(255, 255, 255, 0.537);
}

/* 

DARK THEME

*/

h1,
h2,
h3,
p,
.nav__link,
.scroll__wrapper,
section,
.contrast__button,
.scroll__dot,
.nav__logo--wrapper{
  transition: all 500ms ease-in-out;
}

.dark__theme section{
  background-color: #242424;
}

.dark__theme h1,
.dark__theme h2,
.dark__theme h3,
.dark__theme p,
.dark__theme .nav__link,
.dark__theme .contrast__button
{
  color: white;
}


.dark__theme .scroll__wrapper{
border-color: white;
}
.dark__theme .scroll__dot,
.dark__theme .nav__link-hover-effect{
  background-color: white;
}

.dark__theme .nav__logo--wrapper,
.dark__theme .footer__pop-up,
.dark__theme .contact__button{
  filter: invert(1);
}

/* 

SHAPES

*/

.shape{
  width: 26px;
  height: 26px;
  position: fixed;
  opacity: .6;
}

.shape--1,
.shape--3,
.shape--5,
.shape--7{
  border: 3px solid rgb(255, 60, 60);
  border-radius: 6px;
}

.shape--0{
  top: 15vh;
  left: 5vw;
}
.shape--1{
  top: 15vh;
  left: 42.5vw;
}
.shape--2{
  top: 15vh;
  left: 80vw;
}
.shape--3{
  top: 50vh;
  left: 5vw;
}
.shape--4{
  top: 50vh;
  left: 42.5vw;
}
.shape--5{
  top: 50vh;
  left: 80vw;
}
.shape--6{
  top: 85vh;
  left: 5vw;
}
.shape--7{
  top: 85vh;
  left: 42.5vw;
}
.shape--8{
  top: 85vh;
  left: 80vw;
}

/* MINUTE 2:36:20 */