* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

button{
    cursor: pointer;
}

a {
  color: black;
  font-weight: bold;
}

body {
  background-color: rgb(245, 245, 245);
}

.text__green {
  color: #1bb71bbb;
  font-weight: bold;
}

.row {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.conatiner {
  display: flex;
  width: 100%;
}

.click {
  transition: all 300ms ease;
}

.click:hover {
  scale: 1.2;
}

.click:active {
  scale: 0.8;
}

.contact__button {
  position: fixed;
  bottom: 60px;
  right: 80px;
  border: none;
  border-radius: 50%;
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  z-index: 5;
}

.contact__link {
  color: white;
  font-size: 32px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/*

NAV 

*/

#landing__page {
  height: 100vh;
  position: relative;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo--wrapper {
  width: 70px;
  display: flex;
}

.nav__logo {
  width: 100%;
}

.nav__link--list {
  display: flex;
}

.nav__link--item {
  margin: 0 12px;
  display: flex;
  align-items: center;
}

.nav__link {
  position: relative;
}
.nav__link:hover .nav__link-hover-effect {
  width: 100%;
  left: 0;
}

.nav__link-hover-effect {
  height: 3px;
  border-radius: 3px;
  width: 0%;
  right: 0;
  background-color: black;
  position: absolute;
  transition: all 500ms ease;
}

.contrast__button {
  display: flex;
  background-color: transparent;
  border: none;
  position: relative;
}

.fa-circle-half-stroke {
  font-size: 20px;
  transition: all 300ms ease;
}

/* 

LANDING green = #1bb71bbb

*/

.landing__row {
  max-width: 1000px;
  padding-top: 80px;
}

.landing__container {
  margin: 0 12px;
  justify-content: space-between;
  align-items: center;
}

.landing__title {
  font-size: 120px;
}

.wave {
  display: inline-block;
  animation: animate-wave 3000ms infinite alternate-reverse ease-in-out;
}

@keyframes animate-wave {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0);
  }
}

.landing__intro {
  font-size: 24px;
  line-height: 2;
  max-width: 550px;
  text-align: justify;
  margin: 24px 0;
}

.about__text {
  transition: all 300ms ease;
}

.about__text:hover {
  color: #1bb71b;
}

.landing__links {
  display: flex;
}

.landing__link {
  font-size: 14px;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  color: white;
  background-color: #1bb71bbb;
  transition: all 300ms ease;
}

.landing__link:hover {
  background-color: #1bb71be8;
}

.landing__img--wrapper {
  display: flex;
  border-radius: 50%;
  box-shadow: 20px 20px 100px;
  overflow: hidden;
  width: 400px;
  height: 400px;
  animation: float 1500ms ease infinite alternate-reverse;
}

@keyframes float {
  0% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(12px);
  }
}

.landing__img {
  width: 100%;
}

.scroll__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  position: absolute;
  bottom: 0;
  right: 50%;
  border: 2px solid black;
  border-radius: 10px;
  height: 32px;
  width: 16px;
  opacity: 0.7;
  transition: all 300ms ease;
}

.scroll__dot {
  height: 6px;
  width: 4px;
  border-radius: 6px;
  background-color: black;
  animation: scroll 1500ms infinite alternate ease-in-out;
}

.scroll__wrapper:hover {
  opacity: 1;
}

@keyframes scroll {
  0% {
    transform: translateY(-6px);
  }

  100% {
    transform: translateY(6px);
  }
}

/* 

PROJECTS

*/

#projects{
    height: 100vh;
}